body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe WP N', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

@font-face {
font-family: 'Segoe WP N';
font-style: normal;
font-weight: normal;
src: local('Segoe WP N'), url('./assert/fonts/SegoeWPN.woff') format('woff');
}

